<web-app>


<filter>
<filter-name>ValidateFilter1</filter-name>
<filter-class>com.demo.FilterServlet</filter-class>
</filter>

<filter-mapping>
<filter-name>ValidateFilter1</filter-name>
<url-pattern>/SaveServlet</url-pattern>
</filter-mapping>

<filter>
<filter-name>ValidateFilter2</filter-name>
<filter-class>com.demo.FilterServlet</filter-class>
</filter>

<filter-mapping>
<filter-name>ValidateFilter2</filter-name>
<url-pattern>/EditServlet</url-pattern>
</filter-mapping>

</web-app>